/* header开始 */
.header{
    height: 44px;
    padding:18px 0;
    background-color: #fff;
}
.w1{
    width: 1200px;
   margin: 0 auto;
}
.logo img{
    height: 44px;
    margin-right: 45px;
}
.nav li{
    float: left;
}
.header a{
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color:#805e4b;
    font-size: 14px;
}
.nav a{
    margin-right: 35px;
}
.nav a:hover{
    color:#bb9772;
}
.lead>li{
    float: left; 
}
.first{
    position: relative;
    margin-right: 35px;;
}
.first img{
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top:55px;
    left: -15px;
    z-index: 1000;
}
.area-choose{
   padding-top: 12px; 
   padding-right: 30px;
   position: relative
}
.area-choose img{
    width: 20px;
    height: 20px;
}
.area-choose>ul{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    border:1px solid #ededed;
    width: 110px;
    text-align: center;
   display: none;
   box-shadow: 1px 2px 1px #efefef;
   top: 50px;
    left: -35px;
}
.area-choose li{
   /* height: 15px;
    width: 10px; */
    text-align: center;
}
.area-choose a {
   color:#d5bfaf;
}
.area-choose a:hover {
    color:#805e4b;
 }
.area-choose i{
    background: url(../images/icon.png) no-repeat 0px -103px ;
    width: 13px;
    height: 13px;
    display: inline-block;
}
.area-choose span{
    color:#805e4b;
}
.lead>li:nth-child(3){
    padding-right: 22px;
}
.lead>li:last-child{
    padding-top: 7px;
    margin-left: 20px;
}
.shop-car {
    display: inline-block;
    background: url(../images/icon.png) no-repeat -191px -94px;
    background-size: 310px 120px;
    width: 32px;
    height: 37px;
}

/* heder */
/* slider */
.slider {
    width: 100%;
    height: 480px;
    position: relative;
    margin-bottom: 50px;
   
}
.slider ul li{
    width: 100%;
    height: 480px;
    display: none;
    position: absolute;
    background-position: center;
}
.slider li:first-child{
    display: block;
}
.slider ol{
    position: absolute;
    text-align: center;
    margin:0 auto; 
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
}
.slider ol li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
.slider ol li.current{
    background-color:#000; 
}
/* slider结束 */
/* main-nav starts */
.w2{
    width: 1100px;
    margin:0 auto;
}
.main-nav ul{
    list-style:none;
    margin-bottom: 50px;
}
.main-nav li{
    float: left;
    margin-right: 20px;
    border-bottom: 3px solid #f6f6f6;
}
.main-nav li:last-child{
    margin-right: 0;
}
.new-product .txt{
    height: 28px;
    line-height: 28px;
    padding: 60px 0 30px;
    font-size: 28px;
    color:#724228;
}
.txt span{
    font-size: 14px;
    color:#bd8143;
}
.new-product em,
.new-product i{
    display: block;
}
.new-products em{
    font-size : 16px;
    color:#000;
    padding-top: 15px;
}
.new-products i{
    font-size: 14px;
    color: #474747;
}
.new-products .bgc{
    background-color:#fafafa;
}
.tag-list a{
    display: inline-block;
    border: 1px solid #D5BFA7;
    border-radius: 100px;
    padding: 0 6px 0 8px;
    color: #D5BFA7;
    margin: 8px 3px;
    font-size: 12px;
}
.new-product ul{
    margin-top: 25px;
}
.new-product li{
    float: left;
    width: 267px;
    margin-right: 10px;
}
.new-product li:last-child{
    margin-right: 0;
}
.car-list{
    border-top: 1px dashed#d5bfa7;
    padding-top: 18px;
}
.car-list .price{
    color:#bb9772;
    font-size: 14px;
}
.addcar{
    background-color: #643e28;
    color:#fff;
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
/* footer starts */
.footer {
    height: 330px;
    margin-top: 90px; /*这个为底部的上外边距  防止底部顶上去*/
    text-align: center;
    background-color: #333333;
    padding-top: 50px;
}
.footer > img {
    width: 96px;
    height: 40px;
}
.footer ul li a {
    color: #fff;
}
.footer ul li {
    float: left;
    margin-right: 54px;
    margin-top: 28px;
}
.footer-nav {
    margin: 0 auto;
    width: 810px;
}
.footer .tuiguang {
    margin: 0 auto;
    width: 330px;
}
.footer .tuiguang .weibo, .wechat, .app {
    width: 50px;
    line-height: 50px;
    height: 50px;
    float: left;
    margin-top: 25px;
    margin-right: 60px;
    border-radius: 50%;
    background-color: #494949;
}
.footer .tuiguang a img {
    width: 32px;
    height: 28px;
}
.footer .tuiguang .app a {
    color: #fff;
    font-size: 16px;
}
.footer .tuiguang .weobo {
    position: absolute;
}
.footer .tuiguang .we img {
    width: 100px;
    height: 100px;
    position: relative;
    left: -24px;
    display: none;
}
.footer .tuiguang .wx img {
    width: 100px;
    height: 100px;
    position: relative;
    left: -24px;
    display: none;
}
.footer .tuiguang .app #pic-app {
    width: 100px;
    height: 100px;
    position: relative;
    left: -24px;
    display: none;
}
.footer .first-p {
    margin-top: 20px;
}
.footer p {
    color: #999;
}
.footer .msa {
    border-top: 1px solid #616161;;
    padding-top: 8px;
}
.footer-nav {
    margin: 0 auto;
    width: 810px;
}
/* footer ends */


