/* header开始 */
.header{
    height: 44px;
    padding:18px 0;
    background-color: #fff;
}
.w1{
    width: 1200px;
   margin: 0 auto;
}
.logo img{
    height: 44px;
    margin-right: 45px;
}
.nav li{
    float: left;
}
.header a{
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color:#805e4b;
    font-size: 14px;
}
.nav a{
    margin-right: 35px;
}
.nav a:hover{
    color:#bb9772;
}
.lead>li{
    float: left; 
}
.first{
    position: relative;
    margin-right: 35px;;
}
.first img{
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top:55px;
    left: -15px;
    z-index: 1000;
}
.area-choose{
   padding-top: 12px; 
   padding-right: 30px;
   position: relative
}
.area-choose img{
    width: 20px;
    height: 20px;
}
.area-choose>ul{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    border:1px solid #ededed;
    width: 110px;
    text-align: center;
   display: none;
   box-shadow: 1px 2px 1px #efefef;
   top: 50px;
    left: -35px;
}
.area-choose li{
   /* height: 15px;
    width: 10px; */
    text-align: center;
}
.area-choose a {
   color:#d5bfaf;
}
.area-choose a:hover {
    color:#805e4b;
 }
.area-choose i{
    background: url(../images/icon.png) no-repeat 0px -103px ;
    width: 13px;
    height: 13px;
    display: inline-block;
}
.area-choose span{
    color:#805e4b;
}
.lead>li:nth-child(3){
    padding-right: 22px;
}
.lead>li:last-child{
    padding-top: 7px;
    margin-left: 20px;
    position: relative;
}
.shop-car {
    display: inline-block;
    background: url(../images/icon.png) no-repeat -191px -94px;
    background-size: 310px 120px;
    width: 32px;
    height: 37px;
}
.addcar {
    cursor: pointer;
}
.lead>li:last-child span{
    position: absolute;
    display: block;
    height: 12px;
    padding: 0 1px;
    min-width: 12px;
    top: 3px;
    left: 0px;
    background: #ba9978;
    text-align: center;
    line-height: 12px;
    color: #fff;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 10px;
    border-radius: 10px 10px 10px 0;
    display: none;
}
.fixed{
    position: fixed;
    top:0;
    z-index :999;
    left:50%;
    transform:translateX(-50%);
}

/* heder */
/* slider */
.slider {
    width: 100%;
    height: 480px;
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
   
}
.slider ul li{
    width: 100%;
    height: 480px;
    display: none;
    position: absolute;
    background-position: center;
}
.slider li:first-child{
    display: block;
}
.slider ol{
    position: absolute;
    text-align: center;
    margin:0 auto; 
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
}
.slider ol li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
.slider ol li.current{
    background-color:#000; 
}
/* slider结束 */
/* main-nav starts */
.w2{
    width: 1100px;
    margin:0 auto;
}
.main-nav ul{
    list-style:none;
    margin-bottom: 50px;
}
.main-nav li{
    float: left;
    margin-right: 20px;
    border-bottom: 3px solid #f6f6f6;
}
.main-nav li:last-child{
    margin-right: 0;
}
/* 点击出现的加入购物车starts */
.spec-detail{
    width: 243px;
    height: 130px;
    padding: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index:1001;
    background-color: #fafafa;
    display: none;
}
.new-products .spec-title{
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    color: #684029;
}
.spec-info{
    padding: 10px 0;
    width: 100%;
    height: 54px;
}
.spec-detail a {
    position: relative;
    border:1px solid #684029;
    display: inline-block;
    font-size: 14px;
    color: #684029;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
}
.new-products .spec-detail i{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/icon.png) no-repeat;
    background-position: 0px -40px;
    background-size: 310px 120px;
    display: none;
}
.moren{
    display: block!important;
}
.spec-detail .button .left-b{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    color: #7A5844;
    cursor: pointer;
    margin: 8px 0;
}
.spec-detail .button .right-b
{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #7A5844;
    cursor: pointer;
    margin: 8px 0;
}    
.db{
    display: block!important;
}    
.dn{
    display: none;
}    
 /*第三个页面  */
 .confirm{
    position: absolute;
    box-sizing: border-box;
    padding: 12px;
    background: #fafafa;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 9999;
 }
 .confirm p {
    text-align: center;
    font-size: 14px;
    color: #B08C7E;
    line-height: 25px;
    padding: 30px 0 15px;
 }
 .confirm i {
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background: url(../images/icon.png) no-repeat;
    background-position: -266px -40px;
    background-size: 310px 120px;
    margin-right: 6px;
    position: absolute;
    bottom:75px;
    left:50px;
 }
 .confirm .button{
    background: #684029;
    color: #fff;
    font-size: 13px;
    height: 30px;
    width: 148px;
    display: block;
    line-height: 30px;
    text-align: center;
    margin: 2px auto 14px;
 }


/* 点击出现的加入购物车ends */
/* new-product开始 */
.new-product .txt{
    height: 28px;
    line-height: 28px;
    padding: 60px 0 30px;
    font-size: 28px;
    color:#724228;
}
.txt span{
    font-size: 14px;
    color:#bd8143;
}
.new-product em,
.new-product i{
    display: block;
}
.new-products em{
    font-size : 16px;
    color:#000;
    padding-top: 15px;
}
.new-products i{
    font-size: 14px;
    color: #474747;
}
.tag-list a{
    display: inline-block;
    border: 1px solid #D5BFA7;
    border-radius: 100px;
    padding: 0 6px 0 8px;
    color: #D5BFA7;
    margin: 8px 3px;
    font-size: 12px;
}
.new-product ul{
    margin-top: 25px;
}
.new-product li{
    float: left;
    width: 267px;
    height: 370px;
    margin-right: 10px;
    position: relative;
    /* background-color: pink; */
}
.new-product li img{
    background-color:#fafafa;
    transition: all 0.5s;
}
.new-product li:hover img{
    transform:scale(1.05);

}
.new-product li:last-child{
    margin-right: 0;
}
#five a img{
    width: 500px;
    height: 250px;
}
#five a img:first-child{
    margin-right: 45px;
}

.car-list{
    border-top: 1px dashed#d5bfa7;
    padding-top: 18px;
}
.car-list .price{
    color:#bb9772;
    font-size: 14px;
}
.addcar{
    background-color: #643e28;
    color:#fff;
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
/* 上拉按钮 */
/* #up{
    width: 40px;
    height: 40px;
  text-align: center;
    background-color: #ccc;
    position: fixed;
    right: 20px;
    bottom:50px;
    color:#000;
    display: none;
} */
#up{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-color: #c6c6c6e7;
    display: none;
}
#up img{
    width: 40px;
    height: 40px;
}
#up span {
    color:#666;
    position: absolute;
    right:35px;
    bottom:5px;
    text-align: center;
    width: 100px;
    font: 18px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    display: none;
}
/* 上拉结束 */
/* side-nav */
#side-nav{
    position: fixed;
    left: 30px;
    top:300px;
    /* display: none; */
    width: 60px;
    display: none;
}
#side-nav li{
    border:3px solid #f6f6f6;
    border-radius: 30%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: -3px;
    text-align: center;
}
#side-nav li a{
  font-size: 16px;
  color:#bd8143;
}
/* side-nav */
/* footer starts */
.footer {
    height: 330px;
    margin-top: 90px; /*这个为底部的上外边距  防止底部顶上去*/
    text-align: center;
    background-color: #333333;
    padding-top: 50px;
}
.footer > img {
    width: 96px;
    height: 40px;
}
.footer ul li a {
    color: #fff;
}
.footer ul li {
    float: left;
    margin-right: 54px;
    margin-top: 28px;
}
.footer-nav {
    margin: 0 auto;
    width: 810px;
}
.footer .tuiguang {
    margin: 0 auto;
    width: 330px;
}
.footer .tuiguang .weibo, .wechat, .app {
    width: 50px;
    line-height: 50px;
    height: 50px;
    float: left;
    margin-top: 25px;
    margin-right: 60px;
    border-radius: 50%;
    background-color: #494949;
}
.footer .tuiguang a img {
    width: 32px;
    height: 28px;
}
.footer .tuiguang .app a {
    color: #fff;
    font-size: 16px;
}
.footer .tuiguang .weobo {
    position: absolute;
}
.footer .tuiguang .we img {
    width: 100px;
    height: 100px;
    position: relative;
    left: -24px;
    display: none;
}
.footer .tuiguang .wx img {
    width: 100px;
    height: 100px;
    position: relative;
    left: -24px;
    display: none;
}
.footer .tuiguang .app #pic-app {
    width: 100px;
    height: 100px;
    position: relative;
    left: -24px;
    display: none;
}
.footer .first-p {
    margin-top: 20px;
}
.footer p {
    color: #999;
}
.footer .msa {
    border-top: 1px solid #616161;;
    padding-top: 8px;
}
.footer-nav {
    margin: 0 auto;
    width: 810px;
}
/* footer ends */


